@font-face {
  font-family: BrawlStars;
  src: url(fonts/Nougat-ExtraBlack.ttf);
}
@font-face {
  font-family: BrawlStars 2;
  src: url(fonts/LilitaOne-Regular.ttf);
}

body {
  background-color: yellow;
  font-family: BrawlStars, "BrawlStars 2.0";
}

/* Header */
div.main--div {
  display: flex;
  justify-content: center;
  align-items: center;
}
h2 {
  text-align: center;
}
/* FORM */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  /* margin-top: 100px; */
  /* margin-left: 300px; */
}

.form-group {
  margin-bottom: 10px;
}
.form-group label {
  text-align: left;
  float: left;
  width: 180px; /* або будь-яка інша ширина, яку ви хочете */
}
.form-group input {
  margin-left: 110px; /* ширина мітки + проміжок */
  /* clear: left; */
}

button.submit--button {
  margin-top: 15px;
  margin-left: 0;
  border: 2px solid black;
  background-color: blue;
  color: white;
  font-size: 15px;
  font-family: BrawlStars;
  width: 150px;
  height: 35px;
}

button[disabled="false"]:active {
  margin-top: 20px;
  background-color: darkblue;
  font-size: 10px;
  width: 120px;
  height: 30px;
}
button:disabled {
  background-color: gray;
}

.text {
  text-align: center;
  font-size: 24px;
}
